h1{
    margin: 10px auto;
    width: 25%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgb(0, 255, 179);
    border: 2px solid black;
}
body{
    background-image: url(../images/prinbotevolution.jpg);

}
.idiomas{
    clear: both;
    margin: 10px auto;
    width: 50%;
}
.esp, .eus, .en{
    float: left;
    text-align: center;
    width: 33%;
    font-size: 125%;
}
.esp{
    border: 1px solid black;
    background-color: rgb(255, 91, 91);
}
.eus{
    border: 1px solid black;
    background-color: rgb(119, 156, 255);
}
.en{
    border: 1px solid black;
    background-color: rgb(197, 127, 255);
}
p{
    font-family: "Caveat", cursive;
    font-size: 125%;
}
.texto{
    margin-left: 10%;
    margin-right: 10%
}